@{
    Layout = null;  
}

<table>
    <tr>
        <td>Name</td>
        <td>Surname</td>
        <td>Age</td>
        <td>Country</td>
        <td>Phone number</td>
    </tr>
    <tr>
        <td>Rashad</td>
        <td>Heydarli</td>
        <td>27</td>
        <td>Azerbaijan</td>
        <td>+9940000000</td>
    </tr>
</table>
